/**
* Lightbox
*/

dialog{
    border-radius: 10px;
}

dialog::backdrop{
    background-color: rgb(252, 198, 72);
    opacity: 25%;
    
}

dialog#lightbox[open] {

}
dialog#lightbox[open].sortie {
    animation: sortie 10s;
}

@keyframes sortie {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}