/**
* Lightbox
*/

dialog{
    border-radius: 10px;
}

dialog#lightbox[open] {
    animation: entrer 1s;
}

dialog#lightbox[open].sortie {
    animation: sortie 1s;
}

::backdrop{
    background-color: rgb(252, 198, 72);
    animation: entrer 1s;
}

.sortie::backdrop{
    animation: sortie 1s;
}

@keyframes entrer{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes sortie {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}